body {
    height: 150vh;
}

.App {
    text-align: center;
}


.App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.districts {
    position: relative;
    display: grid;
    grid-template-columns: 800px 800px 800px;
    grid-template-rows: auto;
    gap: 20px;

}

.districts_card {
    position: relative;
    width: 800px;
    font-size: 30px;
    border: 1px solid black;
    text-align: justify;
    background-color: white;


}

.forms {
    width: 350px;

}

p {
    display: block;
    text-align: justify;
}

.plots {
    position: relative;
    margin: 40px auto;

}

.search {
    width: 400px;
    margin: 0 auto;
}

.delete_plots {
    display: flex;
    margin-bottom: 100px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .App-header {
        min-width: 320px;
        min-height: 50px;
    }

    h2 {
        font-size: 15px;
    }

    .App-section {
        min-width: 320px;
    }

    .districts {
        position: relative;
        display: grid;
        grid-template-columns: 320px;
        gap: 5px;
        margin-left: 3px;
    }

    .districts_card {
        width: 315px;
        font-size: 14px;
        text-align: center;

    }

    .forms {
        width: 300px;
    }


    .search {
        width: 400px;
        margin: 0 auto;
    }

    .delete_plots {
        display: grid;
        margin-bottom: 100px;
    }


}